{% extends 'homepage.html' %}
{%block title%}
about
{% endblock %}
{%block body-section %}
<div class="container text-center">
    <h3>Make an Appointment</h3>
    <hr>
    <div>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit"></form>
        </form>
    </div>
    <h3 style="margin-top: 15px;">Latest Appointments</h3>
    <hr>
    {% for appo in latestAppointments %}
    <div>
      <p>{{appo.patient_name}}: {{appo.a_date}} :  {{appo.dept_name}}</p>  
    </div>
    {% endfor %}
</div>



{% endblock %}