{% extends 'homepage.html' %}
{%block title%}
contact
{% endblock %}
{%block body-section %}
<div class="container text-center">
    <h3>City Hospital</h3>
    <p>
        M.G Road, Padma Jn.<br>
Cochin- Pin: 682035, India 
<a href="" style="text-decoration:none">+91 xxxxxxxxx</a><br>
   

Foetal Medicine & USG Scan - <a href="#" style="text-decoration:none">+91 xxxxxxxxx</a><br>
Enquiry - <a href="" style="text-decoration:none">+91 xxxxxxxxx</a><br>
Laboratory - <a href="" style="text-decoration:none">+91 xxxxxxxxx</a><br>
Pharmacy - <a href="" style="text-decoration:none">+91 xxxxxxxxx</a><br>
IVF- +91 <a href="" style="text-decoration:none">+91 xxxxxxxxx</a><br>
Labour Room- <a href="" style="text-decoration:none">+91 xxxxxxxxx</a><br>
Insurance & Billing- <a href="" style="text-decoration:none">+91 xxxxxxxxx</a><br>

Email: mail@cityhospital.com<br>
    </p>
</div>
{% endblock %}